{% extends "dashboard/base.html" %}

{%block content %}

<div id = "alert_placeholder">

</div>

{% if MaxRetryError %}
<div class="alert alert-warning">
    <strong>HttpError:</strong>
        <li>{{error_message}}</li>
</div>
{% endif %}

{% if ApiException %}
	<div class="alert alert-error">
    <strong>ApiExceptionError:</strong>
        <li>{{api_exception_message}}</li>
</div>
{% endif %}

{% if error_type %}
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>{{error_type}}</strong>
      <li>{{ error_message }}</li>
</div>
{% endif %}

<div class="col-lg-8">
	<div class="panel panel-primary">
		<div class="panel-heading" align="center">
			<h3>{{ form.title.value }}</h3>
		</div>
		<div class="panel-body" align="center">
		<div class="form-group" align="left">
			<form action="" class="form-horizontal" method="post" accept-charset="utf-8">
			{% csrf_token %}
	        <div class="box box-primary">
	            <div class="box-body">
	            	{% for field in form %}
	            	{% ifnotequal field.label 'title' %}
	            		{{field.label_tag}}
	            		{{field}}
                	{% endifnotequal %}
	            	{% endfor %}
	            </div>
				<button type="submit" name="submit" class="btn btn-info pull-right">Save</button>
				<a href="{{cancel_url}}" class="btn btn-default pull-right">Cancel</a>
			</div>
	     	</form>
		</div>
		</div>
	</div>
</div>

{% endblock content %}
